**/data*/
inputs.json
meta-pipeline.ipynb
config.yaml
requirements.txt
test.py
experiment*
results*
/.ipynb_checkpoints/
/meta-exp-old.py
/data_BCI_IV_2a.zip
/BCI_IV*
/models_for_test.zip
__pycache__/
Meta_EEG/__pycache__/
Meta_EEG/__pycache__/EEGnet_model.cpython-38.pyc
Meta_EEG/__pycache__/utils.cpython-38.pyc
*.py[cod]
*$py.class
*.so
